#custom-button {
    padding: 10px;
    color: white;
    background-color: black;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #custom-button:hover {
    background-color: black;
  }
  
  #custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
  }
  